
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(7, 234, 255);
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: Playfair Display;
    padding-top: 1rem;
    font-weight: 900;
}

p {
  font-family: Playfair Display;
  font-size: 0.9rem;
  line-height: 2.5;
  font-weight: 900;
}

#container {
    background-color: white;
    padding-bottom: 15rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#task {
    text-align: center;
    display: inline;
    margin : 0 auto;
    width: 20rem;
    padding: 0.3rem;
    vertical-align: bottom;
    font-size: 0.9rem;
}

#task-button {
    display: inline;
    margin : 0 auto;
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-align: center;
}

#list-container {
    margin-top: 1.5rem;
    font-family: Parisienne;
    font-size: 1.5rem;
    font-weight: 900;
}

li {
  list-style: none;
  text-align: center;
}

 li::before {
    content: "📝";
  }

